.well {
    max-width: 100%;
    max-height: 100%;
    overflow-x: scroll;
}

* {
    transition: all 0.3s ease;
}
.videoStream {
    background-color: #ebebeb;
    width: 90%;
    margin: 80px auto;
    border-radius: 20px;
}
.vs {
    line-height: 90px;
}

.currentPlayerName1, .currentPlayerName2 {
    font-size: 1.9em;
}

.currentPlayerPoints1, .currentPlayerPoints2 {
    font-weight: 600;
}

.overView * {
    text-align: center;
}

.overView > div {
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
    width: 15.81%;
}

.timer h1 {
    text-align: center;
}
